<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="row justify-content-center w-100">
    <div class="col-md-6">
      <div class="card" style="width: 500px;">
        <div class="card-body">
          <h4 class="text-center">{{mode === 'signup' ? 'Sign Up' : 'Add/Edit Employee'}}</h4>
          <form [formGroup]="signupForm">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" formControlName="firstName" />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" />
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>

            <div class="form-group" style="position: relative" *ngIf="!showRoleDropdown">
              <label>Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" />
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"
                style="position: absolute; top: 38px; right: 10px; cursor: pointer;"></i>
            </div>

            <div class="form-group mb-4" *ngIf="showRoleDropdown">
              <label>Role</label>
              <select class="form-select" formControlName="role">
                <option value="" disabled>Select role</option>
                <option *ngFor="let role of roles" [value]="role.roleName">{{ role.roleName }}
                </option>
              </select>
            </div>

            <br />
            <button type="submit" class="btn btn-primary w-100" [disabled]="!signupForm.valid" (click)="showRoleDropdown ? addEmployeeDetails('add') : signupUser()">
              {{ mode === 'signup' ? 'Sign Up' : 'Add/Edit Employee' }}
            </button>
          </form>

          <div class="mt-3 text-center"  *ngIf="!showRoleDropdown">
            <button class="btn btn-link" (click)="goToLogin()">Back To Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>